.tagl-tag-list{
	line-height: 11px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.tagl-tag{
	/*border: 1px solid black;*/
	display: inline-block;
	padding-right: 5px;
	margin-bottom: 2px;
	background: #FFC04C;
}
.tagl-tag-link{
	background: #e67e22;
	color: #fff !important;
	display: inline-block;
	font-family: "Ubuntu", "Helvetica", "Arial", "FreeSans", sans-serif;
	font-size: 11px;
	line-height: 1.5em;
	padding: 2px 8px;
	text-decoration: none !important;
	transition: all 0.75s ease-in-out 0s;
}
.tagl-tag-link:hover {
	background: #f39c12;
	color: #fff !important;
	transition: all 0.25s ease-in-out 0s;
}