.c-tag-list{
	line-height: 11px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.c-tag{
	/*border: 1px solid black;*/
	display: inline-block;
	padding-right: 5px;
	margin-bottom: 2px;
	background: #f39c12;
}

.qa-tag-link{
	margin-bottom: 0px !important;
}